Repository JyotiPrakashMallick/devopstraining, pull requests merged in 2019-12, with the labels that each got.

#1 Assignment1-task1
  shellscripting/task1.sh
Labels: if condition

#2 Bhargava
  shellscripting/bhargavatask1.sh
  shellscripting/bhargavatask2.sh
Labels: task

#3 Task2
  shellscripting/task2.sh
Labels: identical Strings, task

#4 Rename shellscripting/task2.sh to murali/shellscripting/task2.sh
  murali/shellscripting/task2.sh
Labels: task

#8 greater among 3numbers
  murali/powershell/one.ps1
  murali/shellscripting/task3.sh
  murali/shellscripting/task4.sh
  murali/shellscripting/task5.sh
Labels: task

#9 changed elseif to else
  murali/powershell/one.ps1
Labels: task
